*{
    margin: 0px;
    padding: 0px;
}


/* For navigation bar */
nav{
    display: flex;
    /* background: #c7bebe; */
    width: 100%;
    align-items: center;
    height: 100px;
    /* border: 2px solid red; */
}

#img{
    width: 50px;
    height: 70px;
    margin-left: 20px;
}

#img img{
    height: inherit;
    /* filter: invert(25%); */
}

#name{
    color: #374048;
    font-size: 40px;
    font-family: 'Alkatra', cursive;
    margin: 10px 57px;
}

#nav ul{
    display: flex;
    margin: 10px 30px;
}

#nav li{
    list-style: none;
    /* margin: 20px 31px; */
}

#nav a{
    text-decoration: none;
    font-size: 25px;
    font-family: 'Alkatra', cursive;
    color: #3d464e;
    padding: 15px 30px;
    border-radius: 10px;
}

#nav a:hover{
    color: white;
    background-color: black;
}

#nav #active a:nth-child(1){
    color: black;
}

#icons{
    margin-left: 100px;
}

#icons img{
    height: 40px;
    margin: 10px 10px;
}

/* section ( heading ) */

#heading{
    background: #eae1e1;
}

#heading h1{
    font-size: 80px;
    width: 50%;
    margin: 15px auto 0px auto;
    font-family: 'Montserrat', sans-serif;
}

/* For section (objrolegensec) */

#objrolegensec{
    background: #eae1e1;
    height: 914px;
}

#objrolegensec .objrole{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 42px 0px 20px 0px;
}

#objrolegensec .objrole h1{
    font-size: 50px;
    margin: 9px 136px;
    color: #55556c;
}

#objrolegensec .items{
    width: 46%;
    border: 2px solid black;
    font-size: 32px;
    border-radius: 20px;
    background: #dbbcbc;
}

#objrolegensec .obj p{
    line-height: 47px;
    width: 89%;
    text-align: left;
    margin: 20px auto;
    /* font-family: 'Montserrat', sans-serif;
    font-size: 32px; */
}

#objrolegensec .role li{
    list-style: square;
    line-height: 54px;
    width: 84%;
    margin: auto;
    /* font-family: 'Montserrat', sans-serif;
    font-size: 32px; */
}

#objrolegensec .gensec{
    border: 2px solid black;
    border-radius: 20px;
    width: 22%;
    margin: 10px auto;
    padding: 39px 120px;
    background: #dbbcbc;
}

#objrolegensec .gensec .img{
    width: 434px;
    height: 295px;
}

#objrolegensec .gensec h1{
    font-size: 50px;
    width: 91%;
    margin: 10px auto;
    color: rgb(57 58 50);
}
#objrolegensec .gensec h2{
    width: 45%;
    margin: 10px auto;
    color: #645c5c;
}

#objrolegensec .gensec img{
    width: inherit;
    height: inherit;
}


/* For footer */


footer{
    display: flex;
    /* position: relative; */
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    background-color: #ebebf0;
}

footer h2{
    font-size: 30px;
}

footer li{
    list-style: none;
    font-size: 19px;
    line-height: 30px;
}

footer a{
    text-decoration: none;
    color: black;
}

footer #rights{
    width: 20%;
    font-size: 35px;
    text-align: left;
}

footer #photos div{
    width: 200px;
    height: 200px;
    margin-bottom: 44px;
}

footer #photos img{
    width: inherit;
    height: inherit;
}







